.character-container {
    margin: 60px 0;
}

h2 {
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.character-image {
    max-width: 100%;
    height: 400px;
    border-radius: 5px;
  }

.character-properties h5 {
    display: inline-block;
    margin: 15px 5px;
    color: white;
}

  .add-character,
  .next-btn {
      border-style: none;
      border-radius: 10px;
      font-weight: bold;
      padding: 12px;
      background-color: rgb(192, 185, 118);
      margin: 5px;
  }

  .add-character:hover,
  .next-btn:hover {
    background-color: rgba(0, 128, 128, .6);
    color: white;
  }

  .deceased {
      background-color: rgb(226, 21, 21);
  }

  .alive {
    background-color: rgb(89, 190, 42);
  }

  .deceased, 
  .alive {
    padding: 5px;
    color: white;
    border-radius: 10px;
  }